---
layout: default
---

<section class="bSlider">
  {% include slider.html pretitle="Amazing new" title="Design Agency" subtitle="Lorem ipsum" %}
</section> 

<section class="bElements pdd-v--m">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include element-item.html color="pink" shape-up="circle" icon="tv" pos-title ="Lorem Ipsum" text="Mauris pulvinar rutrum ligula, eu sagittis eros sagittis non." %}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include element-item.html color="pink" shape-up="circle" icon="news" pos-title ="Aliquam placerat" text="Sed vitae ligula eget velit dictum lacinia. Nunc volutpat ultrices. " %}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include element-item.html color="pink" shape-up="circle" icon="cup" pos-title ="Etiam gravida" text="Nam consequat, ipsum at tincidunt lacinia, tellus nunc sagittis neque." %}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include element-item.html color="pink" shape-up="circle" icon="key" pos-title="Donec dictum" text="Donec dictum, est ut varius congue, sem ex scelerisque massa." %}
      </div>          
    </div>
  </div>
</section>      

<section class="bNewsletter box-content pdd-v--m">
  <div class="container">
    {% include newsletter.html %}
  </div>
  <div class="b-bg">
    <div class="bg-img" style="background-image: url('images/una.jpeg')">
    </div>
  </div>  
</section> 

<section class="bElements--square pdd-v--s">
  <div class="container-fluid pdd-l--0 pdd-r--0">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include element--square-item.html bg="images/jess-watters-500954.jpg" title="Hover 1" subtitle="Integer nunc dolor"%}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include element--square-item.html bg="images/pexels-photo-743984.jpeg" title="Hover 2" subtitle="Aenean turpis leo" %}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include element--square-item.html bg="images/pexels-photo-802647.jpeg" title="Hover 3" subtitle="Orci varius natoque" %}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        {% include element--square-item.html bg="images/joanna-kosinska-168666.jpg" title="Hover 4" subtitle="Quisque ut mauris lorem" %}
      </div>          
    </div>
  </div>
</section>        

<section class="bText pdd-v--s">
  <div class="container">
    {% include element-item.html pre-title="Meet our team" text="Sed vitae ligula eget velit dictum lacinia. Nunc volutpat ultrices imperdiet. Mauris vehicula erat eget tincidunt fermentum. Morbi ut ante malesuada, auctor enim non, convallis mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vulputate nec neque nec congue." %}
  </div>
</section>        

<section class="bCarousel pdd-v--xs">
  {% include carousel.html i-1-title="Fulanito" i-1-subtitle="Web developer" i-2-title="Menganito" i-2-subtitle="Front-end" i-3-title="Citranito" i-3-subtitle="Graphic designer" i-4-title="Perico" i-4-subtitle="Programmer" i-5-title="De los palotes" i-5-subtitle="administrator" i-6-title="Jon Doe" i-6-subtitle="Personal cleaning" i-7-title="Fulanito" i-7-subtitle="The Boss" i-8-title="Menganito" i-8-subtitle="Web developer" %}
</section>

<section class="bRrss">
  {% include b-rrss.html image="images/una.jpeg" color="pink" shape-up="circle" icon="facebook" text="Sed vitae ligula eget velit dictum lacinia. Nunc volutpat ultrices imperdiet. Mauris vehicula erat eget tincidunt fermentum. Morbi ut ante malesuada, auctor enim non, convallis mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vulputate nec neque nec congue." link="@JohnDoe" %}
</section>

<section class="bTax pdd-v--s">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-3 col-md-6 col-sm-12 tax">
        {% include element-item.html btn="Buy this plan" shape-down="square" pre-title="basic" title ="$25/Month" text="<ul><li>Mauris pulvinar</li><li> rutrum ligula, </li><li>eu sagittis eros</li><li> sagittis non.</li></ul>" %}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 tax">
        {% include element-item.html btn="Buy this plan" color="pink" shape-down="square" pre-title="standard" title ="$35/Month" text="<ul><li>Mauris pulvinar</li><li> rutrum ligula, </li><li>eu sagittis eros</li><li> sagittis non.</li></ul>" %}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 tax">
        {% include element-item.html btn="Buy this plan" shape-down="square" pre-title="professional" title ="$45/Month" text="<ul><li>Mauris pulvinar</li><li> rutrum ligula, </li><li>eu sagittis eros</li><li> sagittis non.</li></ul>" %}
      </div>     
    </div>
  </div>
</section>

<section class="bMap box-content pdd-v--xs">

  {% include formContact.html title="Contact Us" address="C/Urzaiz nº 245 1ºB entresuelo, Vigo" country="Pontevedra/Galicia/Spain" phone="+34 986 098 765" fax="+34 986 098 765" image="images/map.png"%}

 </section>