
<div class="container">

<div class="owl-carousel owl-theme">
    <div class="item">
    	<div class="w-100 h-100 bg-hover bg--pink--transparent p-3">
    		<div class="txt--wht txt-alg--ctr align-self-end">
 				<h2 class="txt-sze--s txt--upp txt--bld">{{ include.i-1-title }}</h2>
 				<p>{{ include.i-1-subtitle }}</p>
				<br/><br/><br/>
 				<span class="icon-facebook txt--wht txt-sze--m "></span>
 				<span class="icon-twitter txt--wht txt-sze--m"></span>
 				<span class="icon-instagram txt--wht txt-sze--m"></span>

 			</div>
 		</div>
    	<img src="images/pexels-photo.jpg"/> 
    </div>
     <div class="item">
    	<div class="w-100 h-100 bg-hover bg--pink--transparent p-3">
    		<div class="txt--wht txt-alg--ctr align-self-end">
 				<h2 class="txt-sze--s txt--upp txt--bld">{{ include.i-2-title }}</h2>
 				<p>{{ include.i-2-subtitle }}</p>
				<br/><br/><br/>
 				<span class="icon-facebook txt--wht txt-sze--m "></span>
 				<span class="icon-twitter txt--wht txt-sze--m"></span>
 				<span class="icon-instagram txt--wht txt-sze--m"></span>

 			</div>
 		</div>
    	<img src="images/pexels-photo-262173.jpeg"/> 
    </div>
     <div class="item">
    	<div class="w-100 h-100 bg-hover bg--pink--transparent p-3">
    		<div class="txt--wht txt-alg--ctr align-self-end">
 				<h2 class="txt-sze--s txt--upp txt--bld">{{ include.i-3-title }}</h2>
 				<p>{{ include.i-3-subtitle }}</p>
				<br/><br/><br/>
 				<span class="icon-facebook txt--wht txt-sze--m "></span>
 				<span class="icon-twitter txt--wht txt-sze--m"></span>
 				<span class="icon-instagram txt--wht txt-sze--m"></span>

 			</div>
 		</div>
    	<img src="images/pexels-photo-334029.jpeg"/> 
    </div>
     <div class="item">
    	<div class="w-100 h-100 bg-hover bg--pink--transparent p-3">
    		<div class="txt--wht txt-alg--ctr align-self-end">
 				<h2 class="txt-sze--s txt--upp txt--bld">{{ include.i-4-title }}</h2>
 				<p>{{ include.i-4-subtitle }}</p>
				<br/><br/><br/>
 				<span class="icon-facebook txt--wht txt-sze--m "></span>
 				<span class="icon-twitter txt--wht txt-sze--m"></span>
 				<span class="icon-instagram txt--wht txt-sze--m"></span>

 			</div>
 		</div>
    	<img src="/images/pexels-photo-374703.jpeg"/> 
    </div>
     <div class="item">
    	<div class="w-100 h-100 bg-hover bg--pink--transparent p-3">
    		<div class="txt--wht txt-alg--ctr align-self-end">
 				<h2 class="txt-sze--s txt--upp txt--bld">{{ include.i-5-title }}</h2>
 				<p>{{ include.i-5-subtitle }}</p>
				<br/><br/><br/>
 				<span class="icon-facebook txt--wht txt-sze--m "></span>
 				<span class="icon-twitter txt--wht txt-sze--m"></span>
 				<span class="icon-instagram txt--wht txt-sze--m"></span>

 			</div>
 		</div>
    	<img src="images/pexels-photo-374703.jpeg"/> 
    </div>
     <div class="item">
    	<div class="w-100 h-100 bg-hover bg--pink--transparent p-3">
    		<div class="txt--wht txt-alg--ctr align-self-end">
 				<h2 class="txt-sze--s txt--upp txt--bld">{{ include.i-6-title }}</h2>
 				<p>{{ include.i-6-subtitle }}</p>
				<br/><br/><br/>
 				<span class="icon-facebook txt--wht txt-sze--m "></span>
 				<span class="icon-twitter txt--wht txt-sze--m"></span>
 				<span class="icon-instagram txt--wht txt-sze--m"></span>

 			</div>
 		</div>
    	<img src="images/pexels-photo-334029.jpeg"/> 
    </div>
     <div class="item">
    	<div class="w-100 h-100 bg-hover bg--pink--transparent p-3">
    		<div class="txt--wht txt-alg--ctr align-self-end">
 				<h2 class="txt-sze--s txt--upp txt--bld">{{ include.i-7-title }}</h2>
 				<p>{{ include.i-7-subtitle }}</p>
				<br/><br/><br/>
 				<span class="icon-facebook txt--wht txt-sze--m "></span>
 				<span class="icon-twitter txt--wht txt-sze--m"></span>
 				<span class="icon-instagram txt--wht txt-sze--m"></span>

 			</div>
 		</div>
    	<img src="images/pexels-photo-262173.jpeg"/> 
    </div>
     <div class="item">
    	<div class="w-100 h-100 bg-hover bg--pink--transparent p-3">
    		<div class="txt--wht txt-alg--ctr align-self-end">
 				<h2 class="txt-sze--s txt--upp txt--bld">{{ include.i-8-title }}</h2>
 				<p>{{ include.i-8-subtitle }}</p>
				<br/><br/><br/>
 				<span class="icon-facebook txt--wht txt-sze--m "></span>
 				<span class="icon-twitter txt--wht txt-sze--m"></span>
 				<span class="icon-instagram txt--wht txt-sze--m"></span>

 			</div>
 		</div>
    	<img src="images/pexels-photo.jpg"/> 
    </div>

</div>

</div>


