 <div class="txt-alg--ctr">
 	<div class="bg--{{ include.color }} box--{{ include.shape-up }} mx-auto img-alg--ctr ">
  		<span class="icon-{{ include.icon }} txt--pink txt-sze--l"></span>
     </div>
     <div class="bg--{{ include.color }} box--{{ include.shape-down }}">
  		<h2 class="txt-sze--m txt--upp">{{ include.pre-title }}</h2>
 		<h2 class="txt-sze--s">{{ include.title }}</h2>
 		<p><a class="brd--rad">{{ include.btn }}</a></p>
    </div>
  
    <h2 class="txt-sze--m">{{ include.pos-title }}</h2>
    <p class="txt-sze--s">{{ include.text }} </p>
    <a class="txt-sze--xs lnk--wht" href="#">{{ include.link }} </a>
</div>