<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-7 col-md-9 col-sm-12 bg--grey px-5 py-5">
      <div class="txt--wht txt-alg--ctr">
        <h2>{{ include.title }}</h2>
        <address>{{ include.address }}<br/>
                {{ include.country }}<br/>
                Phone:<a class="lnk--wht" href="tel:{{ include.phone }}">{{ include.phone }}</a><br/>
                Fax: {{ include.phone }}
        </address>
      </div>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Phone">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your Message" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-lg btn-block bg--pink txt--wht">Send</button>
      </form>
    </div>
  </div>
</div>
<div class="b-bg">
  <div class="bg-img" style="background-image: url('{{ include.bg-image }}')"></div>
</div>