
<div class="box-newsletter">
	
	<div class="container">
		<h2 class="txt--wht txt--upp txt-sze--m">Subscribe to our newsletter</h2>
		<div class=" row">
			<div class="col-sm-8">
  				<input type="text" class="form-control bg--transparent brd--wht" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
  			</div>
 			 <div class="input-group-append col-sm-4">
    			<button class="btn w-100 bg--pink txt--wht" type="button">subscribe</button>
  			</div>
		</div>
	</div>
</div>

