<div class="container">
<div class="box-newsletter">
	
	<div class="container">
		<h2 class="txt--wht txt--upp txt-sze--m">{{include.title }}</h2>
		<div class=" row">
			<div class="col-sm-8">
  				<input type="text" class="form-control bg--transparent brd--wht" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
  			</div>
 			 <div class="input-group-append col-sm-4">
    			<button class="btn w-100 bg--pink txt--wht" type="button">{{include.button }}</button>
  			</div>
		</div>
	</div>
</div>
</div>
  <div class="b-bg">
    <div class="bg-img" style="background-image: url('{{include.bg-image }}')">
    </div>
  </div>  
